<mat-dialog-content>
    <h2 mat-dialog-title>Stockfish Strength</h2>

    <div class="stockfish-strength-container">
        <div *ngFor="let level of stockfishLevels" class="strength-div" (click)="selectStockfishLevel(level)"
            [ngClass]="{'selected': level === stockfishLevel}">
            {{level}}
        </div>
    </div>

    <div class="choose-side">
        <img src="assets/pieces/white king.svg" class="king-img" draggable="false" (click)="play('w')">
        <img src="assets/pieces/black king.svg" class="king-img" draggable="false" (click)="play('b')">
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close (click)="closeDialog()">Cancel</button>
</mat-dialog-actions>